{% extends 'base.html.twig' %}

{% block body %}
    {{ task.name }}
    <div>
        <a href="{{ path('task_add') }}">Add new Task</a>
        <a href="{{ path('task_index') }}">Index</a>
    </div>
{% endblock %}
